<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Flight Management system</a>
    <div id="navbarSupportedContent">
      <ul class="list-group list-group-horizontal">
        <li class="nav-item">
          <a routerLink="/signup" *ngIf="!loggedIn" class="nav-link" href="#"
            >Register</a
          >
        </li>
        <li class="nav-item">
          <a *ngIf="!loggedIn" routerLink="/login" class="nav-link" href="#"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a *ngIf="loggedIn" (click)="logoutUser()" class="nav-link" href="#"
            >Logout</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
