<h3>View Schedule Details</h3>
<div>
  <div>
    <label><b>Source: </b></label>{{ schedule.sourceLocation }}
  </div>
  <div>
    <label><b>Destination: </b></label>{{ schedule.destinationLocation }}
  </div>
  <div>
    <label><b>Departure Date: </b></label>{{ schedule.departureDateTime }}
  </div>
  <div>
    <label><b>Arrival Date: </b></label>{{ schedule.arrivalDateTime }}
  </div>
  <div>
    <label><b>Ticket Fare: </b></label>{{ schedule.ticketPrice }}
  </div>
  <div>
    <label><b>flightNumber: </b></label>{{ schedule.flightNumber }}
  </div>
  <div>
    <label><b>Airline Name: </b></label>{{ schedule.airlineName }}
  </div>
</div>
