<h2>Schedule List</h2>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>Airline Id</th> -->
      <th>Source</th>
      <th>Destination</th>
      <th>Departure</th>
      <th>Arrival</th>
      <th>Price</th>
      <th>Seats Avail</th>
      <th>Status</th>
      <th>Flight Number</th>
      <th>Airline Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{ schedule.sourceLocation }}</td>
      <td>{{ schedule.destinationLocation }}</td>
      <td>{{ schedule.departureDateTime }}</td>
      <td>{{ schedule.arrivalDateTime }}</td>
      <td>{{ schedule.ticketPrice }}</td>
      <td>{{ schedule.availableSeats }}</td>
      <td>{{ schedule.status }}</td>
      <td>{{ schedule.flightNumber }}</td>
      <td>{{ schedule.airlineName }}</td>
      <td>
        <button
          (click)="updateSchedule(schedule.scheduleId)"
          class="btn btn-info"
        >
          Update
        </button>
        <button
          (click)="deleteSchedule(schedule.scheduleId)"
          class="btn btn-danger"
          style="margin-left: 10px"
        >
          Delete
        </button>
        <button
          (click)="viewSchedule(schedule.scheduleId)"
          class="btn btn-info"
          style="margin-left: 10px"
        >
          View
        </button>
      </td>
    </tr>
  </tbody>
</table>
