<nav class="navbar navbar-expand-sm bg-primary navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a routerLink="airlines" routerLinkActive="active" class="nav-link">
        Airlines List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="create-airline" routerLinkActive="active" class="nav-link"
        >Add Airline</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="flights" routerLinkActive="active" class="nav-link"
        >Flights List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="add-flight" routerLinkActive="active" class="nav-link"
        >Add Flight</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="schedules" routerLinkActive="active" class="nav-link"
        >Schedule List</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="add-schedule" routerLinkActive="active" class="nav-link"
        >Add Schedule</a
      >
    </li>
  </ul>
</nav>
